body {
 margin: 0;
 padding: 0;
 font-family: Arial, Helvetica, sans-serif;
}

.treatment_unit {
  margin: 20px auto;
  padding: 10px;
  width: 90%;
  background-color: rgb(126,190,199);
}

.treatment_unit h3{
  float: right;
}

.treatment_unit .shiny-input-container {
  border-radius: 5px;
  margin-top:20px;
  float: left;
}

.treatment_unit .action-button {
  border-radius: 5px;
  margin-top: 20px;
  float: right;
}

/* table_lagend*/

.table_legend {
  display: flex;
  justify-content: center;
  font-size: 1em;
}


.table_legend .high, .table_legend .moderate, .table_legend .low {
  flex-basis: 20%;
  text-align: center;
}
.table_legend .high a, .table_legend .moderate a, .table_legend .low a {
  color: #00263d;
  font-weight: 600;
  
}

.table_legend .high a:hover, .table_legend .moderate a:hover, .table_legend .low a:hover {
  color:  rgb(126,190,199);
  font-weight: 600;
  text-decoration:none;
}

.table_legend .high a:focus, .table_legend .moderate a:focus, .table_legend .low a:focus {
  color:  rgb(126,190,199);
  font-weight: 600;
  text-decoration:none;
}

/* icon */

.high i{
  color: #bfe398;
}

.moderate i{
  color: orange;
}

.low i{
  color: red;

}

.table_legend li {
  font-size: 0.85em;
}

.level .high{
  color: #bfe398;
}

.level .moderate{
  color: orange;
}

.level .low{
  color: red;
}

.level i{
  font-size: 0.65em;
}

/* table*/

table {
  width: 100%;
  /*margin: auto;*/
  border-spacing: 0;
  margin-bottom: 50px;
}

thead {
  background-color: #00263d;
  color: white;
}

thead tr {
  box-shadow: -1px 2px 2px -1px black;
  height: 60px;
}

tbody tr {
  box-shadow: 0 4px 5PX -1px #DCDCDC;
}

th {
  margin: 0;
  padding: 0;
}

th h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em; 
  font-weight: 100;
  margin: 7px;
}

.quality_indicator {
  text-align: left;
  width: 45%;
}

.selected_unit {
  /*width: 20%;*/
  text-align: center;
}

.nationally {
  text-align: center;
  /*width: 20%;*/
}

.register_name h4 {
 margin: 10px 15% 5px 7px;
 font-weight: 100;
 font-size: 1.2em;
}

.quality_indicator_name h1{
  margin: 10px 15% 5px 7px;
  font-size: 1.5em;
  font-weight: 100;
 }

.qi_long_description p{
  margin: 5px 5% 20px 7px;
  color: #7d8588;
  font-size: 1em;
}

.desired_target_level h4{
  margin: 20px 15% 10px 7px;
  color: #7ebec7;
  font-weight: 700;
}

tbody .selected_unit {
  background-color: rgba(126,190,199,0.20);
}


tbody tr:hover {
  background-color: rgba(126,190,199,0.30);
}

tr:last-child {
  border-bottom: 5px solid #00263d;
}

.register-row {
  background:-o-linear-gradient(bottom, #7ebec7 5%, #58868c 100%);
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #7ebec7), color-stop(1, #58868c) );
	background:-moz-linear-gradient( center top, #7ebec7 5%, #58868c 100% );
  text-align: center;
}

/* qi_overview*/
ul {
  margin: 0.75em 0 0 0;
  padding: 0;
}

li {
  list-style-type: none;
  margin-top: 0.75em;
}
.category_and_number {
  display: flex
}

.qi_category{
  flex:3;
}
        
.qi_category_link {
  font-family: Helvetica Neue,Helvetica,Roboto,Arial,sans-serif;
  text-transform: uppercase;
  color: #9a9a9a;
  background-color: unset;
  transition: all .3s;
  display: flex;
  padding: 0.3rem 0;
  align-items: center;
  justify-content: space-between;
  border: none;
  text-align: left;
  font-size: 0.9em;
  font-weight: 700;
  border: none;
  float:left;
}
        
.qi_category_link:hover {
  color: #00263d;
  background-color: unset; 
  text-decoration: none;
}
        
       
.qi_category_link:focus {
  color: #00263d;
  background-color: unset; 
  text-decoration: none;
}
        
.title h2 {
  font-family: Helvetica Neue,Helvetica,Roboto,Arial,sans-serif;
  text-transform: uppercase;
  color:  #00263d;
  background-color: unset;
  padding: 0.4rem 0;
  align-items: center;
  justify-content: space-between;
  border: none;
  text-align: left;
  font-size: 1.4em;
  font-weight: 700;
  margin-bottom: 0.5rem;
  margin-top: 0.2rem;
}

.title .nr_of_reg_text{
 background-color: #2d3035;
  color: #efefef;
}

.nr_of_reg {
  flex: 1;
  align-items: center;
  justify-content: center;
}
.nr_of_reg_text {
  background-color: #efefef;
  color: #2d3035;
  width: 25px;
  display:flex;
  height: 25px;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  padding: 0.7rem;
  font-size: 1.1em;
  float:left;
  font-weight: 400;
}

